@model ChangePasswordForm

<style>
    #form7d70cebdf1e04b3185dd516ec2966d3e {
        width: 80%;
        margin: auto;
    }

    /* Add padding to containers */
    #form7d70cebdf1e04b3185dd516ec2966d3e .container {
        padding: 16px;
    }

    /* Full-width input fields */
    #form7d70cebdf1e04b3185dd516ec2966d3e input[type=text],
    #form7d70cebdf1e04b3185dd516ec2966d3e input[type=password] {
        width: 100%;
        padding: 15px 30px;
        margin: 5px 0 25px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        font-size: 16px;
        border-radius: 5px;
    }

    #form7d70cebdf1e04b3185dd516ec2966d3e input[type=text]:focus,
    #form7d70cebdf1e04b3185dd516ec2966d3e input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    #form7d70cebdf1e04b3185dd516ec2966d3e hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit/register button */
    #form7d70cebdf1e04b3185dd516ec2966d3e .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 5px;
        font-size: 16px;
    }

    #form7d70cebdf1e04b3185dd516ec2966d3e .registerbtn:hover {
        opacity: 1;
    }

    #form7d70cebdf1e04b3185dd516ec2966d3e i {
        position: absolute;
        top: 40px;
        right: 15px;
    }

    #form7d70cebdf1e04b3185dd516ec2966d3e img.eye {
        width: 30px;
        height: 30px;
        object-fit: contain;
        position: absolute;
        left: 10px;
        top: 40px;
        cursor: pointer;
        opacity: 0.8;
    }

    @@media screen and (max-width:600px) {
        #form7d70cebdf1e04b3185dd516ec2966d3e {
            width: 100%;
        }

        #form7d70cebdf1e04b3185dd516ec2966d3e input[type=text],
        #form7d70cebdf1e04b3185dd516ec2966d3e input[type=password] {
            padding-left: 10px;
        }

        #form7d70cebdf1e04b3185dd516ec2966d3e i {
            right: 5px;
        }
    }
</style>

<div id="form7d70cebdf1e04b3185dd516ec2966d3e">
    <form asp-controller="Account" asp-action="SubmitChangePassword" method="post">
        <div class="container">
            <h1>تغییر پسورد</h1>
            <p>لطفا پسورد فعلی و پسورد جدید خود را وارد کنید.</p>
            <div asp-validation-summary="All" style="color: red;"></div>
            <hr>

            <div style="position: relative;">
                <label asp-for="CurrentPassword"><b>پسورد فعلی</b></label>
                <input type="password" asp-for="CurrentPassword" placeholder="Enter Current Password"
                    id="currentPassword" required="">
                <img class="eye" src="/Images/eye.png" alt=""
                    onclick="showPassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
                <img class="eye" src="/Images/eyeSlash.png" alt="" style="display: none;"
                    onclick="hidePassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
            </div>

            <div style="position: relative;">
                <label asp-for="NewPassword"><b>پسورد جدید</b></label>
                <input type="password" asp-for="NewPassword" placeholder="Enter New Password" id="newPassword"
                    required="">
                <img class="eye" src="/Images/eye.png" alt=""
                    onclick="showPassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
                <img class="eye" src="/Images/eyeSlash.png" alt="" style="display: none;"
                    onclick="hidePassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
            </div>

            <div style="position: relative;">
                <label asp-for="RepeatNewPassword"><b>تکرار پسورد جدید</b></label>
                <input type="password" asp-for="RepeatNewPassword" placeholder="Repeat New Password"
                    id="repeatNewPassword" required="">
                <img class="eye" src="/Images/eye.png" alt=""
                    onclick="showPassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
                <img class="eye" src="/Images/eyeSlash.png" alt="" style="display: none;"
                    onclick="hidePassword_form7d70cebdf1e04b3185dd516ec2966d3e(this)">
            </div>

            <hr>

            <button type="submit" class="registerbtn">ذخیره تغییرات</button>
        </div>
    </form>
    <script>
        function showPassword_form7d70cebdf1e04b3185dd516ec2966d3e(element) {
            element.parentElement.getElementsByTagName("input")[0].type = "text";
            element.style.display = "none";
            element.nextElementSibling.style.display = "block";
        }
        function hidePassword_form7d70cebdf1e04b3185dd516ec2966d3e(element) {
            element.parentElement.getElementsByTagName("input")[0].type = "password";
            element.style.display = "none";
            element.previousElementSibling.style.display = "block";
        }
    </script>
</div>